<div class="video-banner">
  <video id="video-demo" loop="" autoplay muted>
      <source src="/assets/720P.mp4" type="video/mp4">
  </video>
  <div class="booking-btn">
    <%= link_to "BookRooms",hotels_path('user'), class:"Book-rooms" %>
    <%= link_to "UploadRooms",hotels_path,class:"Upload-rooms" %>
  </div>
</div>
